{% extends 'layout.html.twig' %}

{% block title %}Liste des ouvriers{% endblock %}

{% block demoTitle %}
    La Liste Des Ouvriers
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Spécialité</th>
        </tr>
        </thead>
        <tbody>
        {% for ouvrier in ouvriers %}
            <tr class="{{ cycle(['bad', 'bon'], loop.index0) }}">
                <td>{{ ouvrier.prenom }}</td>
                <td>{{ ouvrier.nom }}</td>

                <td>
                    {% if ouvrier.specialite %}
                        {{ ouvrier.specialite.libelle }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun ouvrier trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
