{% extends 'layout.html.twig' %}

{% block title %}Ajouter un ouvrier{% endblock %}

{% block demoTitle %}
    Ajouter Un Ouvrier
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="centerText">
        <a href="{{ path('app_ouvrier_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
