{% extends 'layout.html.twig' %}

{% block title %}Liste des spécialités{% endblock %}

{% block demoTitle %}
    Liste des Spécialités
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Libellé</th>
        </tr>
        </thead>
        <tbody>
        {% for specialite in specialites %}
            <tr class="{{ cycle(['bad', 'bon'], loop.index0) }}">
                <td>{{ specialite.id }}</td>
                <td>{{ specialite.libelle }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune spécialité trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
